####################################
# Python
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/

####################################
# Python packaging
####################################
build/
dist/
*.egg-info/

####################################
# Docker
####################################
*.log

####################################
# Terraform
####################################
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfvars
*.tfvars.json

####################################
# AWS / Secrets
####################################
.aws/
*.pem
*.key
*.crt

####################################
# GitHub Actions (local temp)
####################################
.github/workflows/*.local.yml

####################################
# OS-specific
####################################
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# macOS
.DS_Store

####################################
# IDEs / Editors
####################################
.vscode/
.idea/
*.swp
*.swo

####################################
# Logs
####################################
logs/
*.log
