apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: cicd
spec:
  replicas: 2
  selector:
    matchLabels:
      app: k8s-app
  template:
    metadata:
      labels:
        app: k8s-app
    spec:
      containers:
        - name: myapp
          image: swaroops2803/cicd:latest
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          ports:
            - containerPort: 8000
